@model SetNewPasswordModel

@{
	ViewBag.Title = "Change Password";
}

<section class="form" id="changePasswordForm">
	@using (Html.BeginForm())
	{
		<h1> @ViewBag.Title </h1>
		<hr />

		@Html.AntiForgeryToken()

		<fieldset>
			<div class="form-group">
				@Html.LabelFor(m => m.NewPassword, new { @class = "label-big" })
				@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Please enter new password" })
				@Html.ValidationMessageFor(m => m.NewPassword)
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.ConfirmPassword, new { @class = "label-big" })
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Please re-enter password" })
				@Html.ValidationMessageFor(m => m.ConfirmPassword)
			</div>

			<br />
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Change Password</button>
			</div>

		</fieldset>
	}
</section>