@model ChangePasswordModel

<section class="form-container form-popup">
    @using (Html.BeginForm("ChangePassword", "user", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <fieldset>

            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "label-big" })
                @Html.PasswordFor(m => m.OldPassword, new {placeholder = "Enter old password"})
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "label-big" })
                @Html.PasswordFor(m => m.NewPassword, new {placeholder = "Enter new password"})
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "label-big" })
                @Html.PasswordFor(m => m.ConfirmPassword, new {placeholder = "Re-enter new password"})
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <br />
            <button type="submit" class="btn">Change Password</button>
            <button type="button" class="btn cancel" onclick="toggleBox(-1)">Close</button>

        </fieldset>
    }

</section>
        